<br>
<h1>Actializar Usuario</h1>
<hr>
<p>nombres</p>
<input type="text" [(ngModel)]="m.nombres" placeholder="Nombres" class="input-control">
<p>apellidos:</p>
<input type="text" [(ngModel)]="m.apellidos" placeholder="Apellidos" class="input-control">
<p>email:</p>
<input type="text" [(ngModel)]="m.email" placeholder="email" class="input-control">
<p>direccion:</p>
<input type="text" [(ngModel)]="m.direccion" placeholder="direccion" class="input-control">
<p>fecha de nacimiento:</p>
<input type="text" [(ngModel)]="m.fecNacimiento" placeholder="Fecha de Nacimiento" class="input-control">
<p>password:</p>
<input type="password" [(ngModel)]="m.password" placeholder="password" class="input-control">
<p>telefono:</p>
<input type="text" [(ngModel)]="m.telefono" placeholder="telefono" class="input-control">
<p>dni:</p>
<input type="text" [(ngModel)]="m.dni" placeholder="dni" class="input-control">
<hr>
<button (click)="guardar()" class="btn btn-success">Guardar</button>

<div>
    <div class="col-sm-3"></div>
</div>
