<br>
<h1>Nuevo Usuario</h1>
<hr>
<p>nombres</p>
<input type="text" [()] placeholder="Nombres" class="input-control">
<p>apellidos:</p>
<input type="text" placeholder="Apellidos" class="input-control">
<p>email:</p>
<input type="text" placeholder="email" class="input-control">
<p>direccion:</p>
<input type="text" placeholder="direccion" class="input-control">
<p>fecha de nacimiento:</p>
<input type="text" placeholder="Fecha de Nacimiento" class="input-control">
<p>password:</p>
<input type="password" placeholder="password" class="input-control">
<p>telefono:</p>
<input type="text" placeholder="telefono" class="input-control">
<p>dni:</p>
<input type="text" placeholder="dni" class="input-control">
<hr>
<button (click)="guardar()" class="btn btn-success">Guardar</button>



{# nombres
apellidos
direccion
telefono
dni
email #}